@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  background: #FFFEF4;
  font-family: "Montserrat", sans-serif;
}

a,
.green {
  text-decoration: none;
  color: #7E2513;
  transition: 0.4s;
  padding: 3px;
}
.content {
  max-width: 1470px;
  margin: 0 auto;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
